.env
instance/
notebooks/
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg
*.db
__pycache__/
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/
.DS_Store
*.mo
*.swp
*.swo
migrations/
*/migrations/
*/migrations/*.pyc
*/migrations/*.pyo